node_modules/

# Directory containing esbuild compiled code
/dist
# Directory containing tsc compiled code (tests)
/out
# Directory containing the built theme when testing
/build

# Package file
*.tgz
